extends layout

block content
  h1 Administrador de gasolineria
  p Welcome to #{title}
  table
    thead
      tr
          thNameth
          thItem Nameth
          thItem Priceth
      tr
    thead

    tbody
      tr
        tdAlvintd
        tdEclairtd
        td$0.87td
      tr
      tr
        tdAlantd
        tdJellybeantd
        td$3.76td
      tr
      tr
        tdJonathantd
        tdLollipoptd
        td$7.00td
      tr
    tbody
  table
