extends layout

block content
  div(style="border: solid 2px teal")
    div(style="margin: 5%")
      h1(style = "font-family: 'Amatic SC', cursive; font-size: 6em") Administrador de gasolineria
      table.stripes
        thead
          tr
            label(for="franq") Franquicia
            input(type="text" name = "franq" style="border-bottom: solid 2px teal" placeholder = "Escriba la franquicia")
          tr
            label(for="nombre") Nombre
            input(type="text" name = "nombre" style="border-bottom: solid 2px teal" placeholder = "Escriba el nombre")
          tr
            label(for="precio") Gasolina regular
            input(type="text" name = "precio" style="border-bottom: solid 2px teal" placeholder = "Escriba la gasolina")
            div(style = "display: flex; justify-content: center")
              input(type="submit" style = "border: none; background: teal; color: white; padding: 1em 3em; margin: 0 auto")

      table.stripes(style="margin-top: 1em")
        thead
          tr
            th(style = "font-family: 'Amatic SC', cursive; font-size: 3em; background-color: teal") ID
            th(style = "font-family: 'Amatic SC', cursive; font-size: 3em; background-color: teal") Franquicia
            th(style = "font-family: 'Amatic SC', cursive; font-size: 3em; background-color: teal") Nombre
            th(style = "font-family: 'Amatic SC', cursive; font-size: 3em; background-color: teal") Gasolina regular
            th(style = "font-family: 'Amatic SC', cursive; font-size: 3em; background-color: teal") Opciones
        tbody
          tr
            td.tablass(style="font-size: 1.3em") 1
            td.tablass(style="font-size: 1.3em; border-left: teal solid 1px") Texaco
            td.tablass(style="font-size: 1.3em; border-left: teal solid 1px") Fran
            td.tablass(style="font-size: 1.3em; border-left: teal solid 1px") 3.28
            td.tablass(style="border-left: teal solid 1px")
              i(class="fas fa-trash-alt" style = "margin: 1em; color: teal; font-size: 2em")
              i(class="fas fa-edit" style = "margin: 1em; color: teal; font-size: 2em")
          tr
            td.tablass(style="font-size: 1.3em") 2
            td.tablass(style="font-size: 1.3em; border-left: teal solid 1px") Shell
            td.tablass(style="font-size: 1.3em; border-left: teal solid 1px") Julio
            td.tablass(style="font-size: 1.3em; border-left: teal solid 1px") 6.00
            td.tablass(style="border-left: teal solid 1px")
              i(class="fas fa-trash-alt" style = "margin: 1em; color: teal; font-size: 2em")
              i(class="fas fa-edit" style = "margin: 1em; color: teal; font-size: 2em")
          tr
            td.tablass(style="font-size: 1.3em") 3
            td.tablass(style="font-size: 1.3em; border-left: teal solid 1px") Uno
            td.tablass(style="font-size: 1.3em; border-left: teal solid 1px") Marco
            td.tablass(style="font-size: 1.3em; border-left: teal solid 1px") 1.90
            td.tablass(style="border-left: teal solid 1px")
              i(class="fas fa-trash-alt" style = "margin: 1em; color: teal; font-size: 2em")
              i(class="fas fa-edit" style = "margin: 1em; color: teal; font-size: 2em")
        
